.aside_left_container {
  .aside_left_userInfo {
    padding: 20px 15px 10px;
    text-align: center;
    .user_avatar {
      display: inline-block;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background: url("../../assets/images/avatar.jpg") no-repeat;
      background-position: center;
      background-size: cover;
      transition: all 0.35s cubic-bezier(0.63, 0.07, 0.75, 1.21);
      box-shadow: 0 0 2px black;
      &:hover {
        transform: rotate(360deg);
      }
    }
    .user_nickname_wrap {
      margin-top: 10px;
      .user_nickname_text {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: #fc7097;
        }
      }
    }
    .user_desc {
      margin: 10px 0;
      font-size: 13px;
      color: #999;
    }
  }
}
